html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.bg_video{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	width: auto; 
	height: auto;   
	z-index: -1000;
	background: url(https://prod-treaming-video-msn-com.akamaized.net/c633cd32-92ef-447f-876c-54c5c1a57484/d5a4b96f-01b4-4519-8470-62484e0b1b5b.mp4) no-repeat; 
}

.espaco-botao {
    display: block;
    margin-left: 40.5rem;
    margin-top: 1.5rem;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: 500px;
    font-size: 18px;


    text-align: center;
}


.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.texto-estilizacao {
    margin-top: 22rem;
    margin-left: calc(49rem - 10%);
    font-size: 50px;
    font-weight: 500px;
    color: #fff;
    cursor: default;
    display: block;
    text-align: center;
    border-radius: 5px;

    outline: none;
    position: relative; 
    background: rgba(0, 0, 0, 0.5);
    display: inline-flex;
}


.texto-estilizacao::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 5px solid #58EDC9;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1s infinite;
}

.texto-estilizacao:hover {
    box-shadow: 0px 0px 25px rgba(152,150,241,95);
    border-radius: 10px;
    transition: 2s linear;
    animation: piscar 1s infinite;
}

@keyframes piscar {
    0% {
        box-shadow: inset;
    }
    50% {
        box-shadow: 0px 0px 15px inherit;
    }
    100% {
        box-shadow: none;
    }
}

.texto-estilizado {
    display: inline;
    
    background-size: 200%;
    background-image: linear-gradient(45deg, rebeccapurple, steelblue, turquoise, #BFBFBF);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    animation: glowing 12s linear infinite;
    color: black;
}

@keyframes ring {
    0% {
    width: 30px;
    height: 30px;
    opacity: 1;
    }
    100% {
    width: 1000px;
    height: 1000px;
    opacity: 0;
    }
}


.footer {
    font-size: 30px;

    display: flex;
    margin-top: 22rem;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(64,168,196,77);
    background-color: rgba(38, 56, 73, 0.1);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


.links-1 {
    margin-left: 10px;
    background-image: linear-gradient(15deg, #edf7fa, #5f6caf);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
}

.links-2 {
    margin-left: 10px;
    background-image: linear-gradient(15deg, #1dad9b, #9bf4d5);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
}

.instagram {
    background-image: linear-gradient(900deg, #5f5dbd, #c51350, #e8751a);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
}

.github {
    background-image: linear-gradient(900deg, #5f6769, #aeccc6);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
}

.linkedin {
    background-image: linear-gradient(900deg, #5dacbd,#8dc6ff);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
}

.dados {
    display: block;
    padding-left: 10px;
}

li {
    padding-top: 10px;
    display: flex;
}


.titulo-rodape {
    
    background-image: linear-gradient(900deg, #474788,#9d53c3);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
}

.texto-rodape {
    padding-left: 30px;
}

.resumo {
    text-align: justify;
    padding-left: 20rem;
    padding-right: 1rem;
    color: #fff ;
}

/*Mobile Em Geral */
@media screen and (max-width: 599px) {
        
    .bg_video{
        position: fixed; 
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        width: auto; 
        height: auto;   
        z-index: -1000;
        background: url(https://prod-treaming-video-msn-com.akamaized.net/c633cd32-92ef-447f-876c-54c5c1a57484/d5a4b96f-01b4-4519-8470-62484e0b1b5b.mp4) no-repeat; 
    }

    .espaco-botao {
        display: block;
        margin-left: calc( 54% - 8rem);
        margin-top: 1.5rem;
    }

    .glow-on-hover {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        font-weight: 500px;
        font-size: 18px;


        text-align: center;
    }


    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }

    .glow-on-hover:active {
        color: #000
    }

    .glow-on-hover:active:after {
        background: transparent;
    }

    .glow-on-hover:hover:before {
        opacity: 1;
    }

    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }


    .texto-estilizacao {
        margin-top: 22rem;
        margin-left: calc(5.5rem + 5%);
        font-size: 50px;
        font-weight: 500px;
        color: #fff;
        cursor: default;
        display: block;
        text-align: center;

        outline: none;
        position: relative; 
        background: rgba(0, 0, 0, 0.5);
        display: inline-flex;
    }


    .texto-estilizacao::after {
        content: '';
        width: 30px; height: 30px;
        border-radius: 100%;
        border: 5px solid #58EDC9;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1s infinite;
    }


    @keyframes ring {
        0% {
        width: 30px;
        height: 30px;
        opacity: 1;
        }
        100% {
        width: 450px;
        height: 450px;
        opacity: 0;
        }
    }


    .footer {
        font-size: 22px;

        display: flex;
        margin-top: 22rem;
        color: #fff;
        box-shadow: 0px 0px 10px rgba(64,168,196,77);
        background-color: rgba(38, 56, 73, 0.1);
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }


    .links-1 {
        margin-left: 5px;
        background-image: linear-gradient(15deg, #edf7fa, #5f6caf);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .links-2 {
        margin-left: 5px;
        background-image: linear-gradient(15deg, #1dad9b, #9bf4d5);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .instagram {
        background-image: linear-gradient(900deg, #5f5dbd, #c51350, #e8751a);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .github {
        background-image: linear-gradient(900deg, #5f6769, #aeccc6);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .linkedin {
        background-image: linear-gradient(900deg, #5dacbd,#8dc6ff);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .dados {
        display: block;
        padding-left: 10px;
    }

    li {
        padding-top: 50px;
        display: flex;
    }


    .titulo-rodape {
        
        background-image: linear-gradient(900deg, #474788,#9d53c3);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .texto-rodape {
        padding-left: 30px;
    }

    .resumo {
        text-align: justify;
        padding-left: 0.5em;
        padding-right: 1rem;

        float: none;
        color: #fff ;
    }
}
/* Tablets */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    
    .bg_video{
        position: fixed; 
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        width: auto; 
        height: auto;   
        z-index: -1000;
        background: url(https://prod-treaming-video-msn-com.akamaized.net/c633cd32-92ef-447f-876c-54c5c1a57484/d5a4b96f-01b4-4519-8470-62484e0b1b5b.mp4) no-repeat; 
    }

    .espaco-botao {
        display: block;
        margin-left: calc(64% - 12.5rem);
        margin-top: 1.5rem;
    }

    .glow-on-hover {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        font-weight: 500px;
        font-size: 18px;


        text-align: center;
    }


    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }

    .glow-on-hover:active {
        color: #000
    }

    .glow-on-hover:active:after {
        background: transparent;
    }

    .glow-on-hover:hover:before {
        opacity: 1;
    }

    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

    .texto-estilizacao {
        margin-top: 22rem;
        margin-left: calc(15.5rem + 2%);
        font-size: 50px;
        font-weight: 500px;
        color: #fff;
        cursor: default;
        display: block;
        text-align: center;

        outline: none;
        position: relative; 
        background: rgba(0, 0, 0, 0.3);
        display: inline-flex;
    }


    .texto-estilizacao::after {
        content: '';
        width: 30px; height: 30px;
        border-radius: 100%;
        border: 5px solid #58EDC9;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1s infinite;
    }


    @keyframes ring {
        0% {
        width: 30px;
        height: 30px;
        opacity: 1;
        }
        100% {
        width: 550px;
        height: 550px;
        opacity: 0;
        }
    }


    .footer {
        font-size: 28px;

        display: flex;
        margin-top: 20.5rem;
        color: #fff;
        box-shadow: 0px 0px 10px rgba(64,168,196,77);
        background-color: rgba(38, 56, 73, 0.1);
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }


    .links-1 {
        margin-left: 5px;
        background-image: linear-gradient(15deg, #edf7fa, #5f6caf);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .links-2 {
        margin-left: 5px;
        background-image: linear-gradient(15deg, #1dad9b, #9bf4d5);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .instagram {
        background-image: linear-gradient(900deg, #5f5dbd, #c51350, #e8751a);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .github {
        background-image: linear-gradient(900deg, #5f6769, #aeccc6);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .linkedin {
        background-image: linear-gradient(900deg, #5dacbd,#8dc6ff);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .dados {
        display: block;
        padding-left: 10px;
    }

    li {
        padding-top: 20px;
        display: flex;
    }


    .titulo-rodape {
        
        background-image: linear-gradient(900deg, #474788,#9d53c3);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .texto-rodape {
        padding-left: 30px;
    }

    .resumo {
        text-align: justify;
        padding-left: 0.5em;
        padding-right: 1rem;

        float: none;
        color: #fff ;
    }
}

/* tirando o zoom do deskto*/
@media screen and (min-width: 1600px) {
    
    .bg_video{
        position: fixed; 
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        width: auto; 
        height: auto;   
        z-index: -1000;
        background: url(https://prod-treaming-video-msn-com.akamaized.net/c633cd32-92ef-447f-876c-54c5c1a57484/d5a4b96f-01b4-4519-8470-62484e0b1b5b.mp4) no-repeat; 
    }

    .espaco-botao {
        display: block;
        margin-left: calc(55% - 12.5rem);
        margin-top: 1.5rem;
    }

    .glow-on-hover {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        font-weight: 500px;
        font-size: 18px;


        text-align: center;
    }


    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }

    .glow-on-hover:active {
        color: #000
    }

    .glow-on-hover:active:after {
        background: transparent;
    }

    .glow-on-hover:hover:before {
        opacity: 1;
    }

    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }


    .texto-estilizacao {
        margin-top: 22rem;
        margin-left: calc(236rem - 10%);
        font-size: 50px;
        font-weight: 500px;
        color: #fff;
        cursor: default;
        display: block;
        text-align: center;

        outline: none;
        position: relative; 
        background: rgba(0, 0, 0, 0.3);
        display: inline-flex;
    }

    .texto-estilizacao::after {
        content: '';
        width: 30px; height: 30px;
        border-radius: 100%;
        border: 5px solid #58EDC9;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1s infinite;
    }


    @keyframes ring {
        0% {
        width: 30px;
        height: 30px;
        opacity: 1;
        }
        100% {
        width: 1500px;
        height: 1500px;
        opacity: 0;
        }
    }

    .footer {
        font-size: 28px;

        display: flex;
        margin-top: 20.5rem;
        color: #fff;
        box-shadow: 0px 0px 10px rgba(64,168,196,77);
        background-color: rgba(38, 56, 73, 0.1);
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }


    .links-1 {
        margin-left: 5px;
        background-image: linear-gradient(15deg, #edf7fa, #5f6caf);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .links-2 {
        margin-left: 5px;
        background-image: linear-gradient(15deg, #1dad9b, #9bf4d5);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .instagram {
        background-image: linear-gradient(900deg, #5f5dbd, #c51350, #e8751a);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .github {
        background-image: linear-gradient(900deg, #5f6769, #aeccc6);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .linkedin {
        background-image: linear-gradient(900deg, #5dacbd,#8dc6ff);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .dados {
        display: block;
        padding-left: 10px;
    }

    li {
        padding-top: 20px;
        display: flex;
    }


    .titulo-rodape {
        
        background-image: linear-gradient(900deg, #474788,#9d53c3);
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .texto-rodape {
        padding-left: 30px;
    }

    .resumo {
        text-align: justify;
        padding-left: 0.5em;
        padding-right: 1rem;

        float: none;
        color: #fff ;
    }
}