*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    background-color: #000;
}

.player {
    display: inline;
    margin-left: 25px;
    margin-top: 50px;
}
    
.bg_video{
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;   
    z-index: -1000;
    filter: blur(5px);
    background: url(https://prod-treaming-video-msn-com.akamaized.net/c633cd32-92ef-447f-876c-54c5c1a57484/d5a4b96f-01b4-4519-8470-62484e0b1b5b.mp4) no-repeat; 
}

.box-funcionalidade {
    padding-bottom: 980px;
    padding-right: 60px;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    animation: go-back 1s normal;
    z-index: 1;
}

@keyframes go-back {
    from {
        transform: translateY(900px);
    }
    to {
        transform: translateX(0);
    }
}

.cabecario-funcionalidade {
    display: inline-flex;
    font-size: 35px;
    margin-left: 500px;
    text-align: center;
    padding-left: 28px;

}

.divisao-imagem-funcionalidades-url {
    margin-left: 130px;

    height: 450px;
    width: 1200px;
}

.divisao-imagem-funcionalidades-url_input {
    margin-left: 340px;
    height: 250px;
    width: 800px;
}

.botao-fechar {
    display: inline;

    border: none;
    color: #fff;
    background: rgba(120, 120, 120, 1);

    border-radius: 10px;
    margin-top: 10px;
    margin-left: 382.5px;

    height: 50px;
    width: 50px;

    cursor: pointer;
}

.botao-fechar:hover {
    box-shadow:inset 0px 0px 25px rgba(51, 51, 51, 20);
    background: rgba(77, 77, 77, 1);
    transition: 0.5s linear;
}

.botao-close-final {
    display: block;

    border:3px solid #000;
    color: #000;
    background: none;

    border-radius: 10px;
    margin-top: 10px;
    margin-left: 630px;

    height: 50px;
    width: 200px;

    cursor: pointer;
}


.botao-close-final:hover {
    color: #FFF;
    box-shadow:inset 0px 0px 305px #000;
    border-radius: 10px;
    transition: 0.5s linear;
    animation: piscar 0.3s in;
}

@keyframes piscar {
    0% {
        box-shadow: inset;
    }
    50% {
        box-shadow: 0px 0px 15px inherit;
    }
    100% {
        box-shadow: none;
    }
}

.texto-funcionalidade {
    font-size: 18px;

    text-align: center;
    margin-left: 90px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.texto-funcionalidade-2 {
    font-size: 18px;

    text-align: justify;
    margin-left: 260px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.texto-funcionalidade-3 {
    font-size: 18px;

    text-align: justify;
    margin-left: 500px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.divisoria-titulo {
    display: flex;
    padding-left: 40px;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(62,0,64,25);
}

.titulo-link {
    color: white;
    text-decoration: none;
    font-size: 40px;
    border-radius: 10px;
}

.titulo-link:hover {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    transition: 0.2s linear;
    border-radius: 10px;

    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
    
    color: #000;
}

.botao-info {
    box-shadow: inset 0px 0px 25px rgba(75, 75, 75, 0.5);
    display: inline-flex;
    margin-left: 1150px;
    border:  none;
    border-radius: 10px;
    cursor: pointer;
}

.input-v {
    color: #fff;
    background: #000;

}

.wrapper{
    margin-top: 10rem;
    margin-left: calc( 70.5% - 34rem);
    border-radius: 100px;

    width: 450px;
    background: #000;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(62,0,64,25);
}
.wrapper .input-url{
    height: 40px;
    width: 100%;
    position: relative;
}
.wrapper .input-url input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid #000;
}
.input-url input:focus ~ label,
.input-url input:valid ~ label{
    transform: translateY(-25px);
    font-size: 15px;
    color: #7a00ff;
}
.wrapper .input-url label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    pointer-events: none;
    transition: all 0.3s ease;
}
.input-url .underline{
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
}
.input-url .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #7a00ff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.input-url input:focus ~ .underline:before,
.input-url input:valid ~ .underline:before{
    transform: scaleX(1);
}

.espaco-botao {
    display: block;
    padding-left: calc( 85% - 40.5rem);
    padding-top: 1.5rem;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-align: center;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;

}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
    
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
    
}

@keyframes ring {
    0% {
    width: 30px;
    height: 30px;
    opacity: 1;
    }
    100% {
    width: 730px;
    height: 730px;
    opacity: 0;
    }
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.dj-space-botoes{
    display: inline;
    margin-left: 10rem;
    margin-top: 20px;
}

.botoes-de-midia {
    display: inline-flex;
    margin-left: 20px;
    margin-top: 10px;
}

.botao-stop {
    margin-left: 30px;

    background: rgba(140, 140, 140, 0.2);
    color: #fff;
    border-radius: 10px;
    border: none;


    cursor: pointer;
}

.botao-stop:hover {
    background: linear-gradient(45deg, #edb1f1, #d59bf6, #9896f1, #8ef6e4);
    border-radius: 10px;
    background-size: 400%;    
    animation: glowing 8s linear infinite;
}

.botao-pause {
    background:rgba(140, 140, 140, 0.2);
    border-radius: 10px;
    background-size: 400%;
    border: none;
    padding: 25px;


    cursor: pointer;;
}

.botao-pause:hover {
    background: linear-gradient(45deg, #3D0423  ,#c51350, #fda403, #e8751a);
    background-size: 400%;
    animation: glowing 8s linear infinite;
    transition: 3s linear;
    border-radius: 10px;
}

.botao-pause-imagem {
    background-color: none;
    color: #fff;

    font-size: 60px;
    font-weight: 300;
    border: none;
}

.botao-1 {
    padding: 50px;
    margin-right: 15px;
    margin-bottom: 5px;


    border-radius: 5px;
    background: linear-gradient(45deg, #8a1253,#c51350);
    border: inherit;
}

.letra-botao1 {
    font-size: 40px;
}

.letra-botao2 {
    font-size: 40px;
}

.letra-botao3 {
    font-size: 40px;
}

.letra-botao4 {
    font-size: 40px;
}

.botao-2 {
    padding: 50px;
    margin-right: 15px;
    margin-bottom: 5px;


    border-radius: 5px;
    background: linear-gradient(45deg, #00aaa0, #8ed2c9);
    border: inherit;
}

@keyframes piscar {
    0% {
        box-shadow: none
    }
    100% {
        box-shadow: inset;
    }
}


.botao-3 {
    padding: 50px;
    margin-right: 15px;
    margin-bottom: 5px;

    border-radius: 5px;
    background: linear-gradient(45deg, #8f71ff, #ff5d9e);
    border: inherit;
}

.botao-4 {
    padding: 49px;
    margin-right: 15px;
    margin-bottom: 5px;


    border-radius: 5px;
    background: linear-gradient(45deg, #7dd87d, #4c9173);
    border: inherit;
}


@media screen and (max-width: 599px) {    
    .bg_video{
        position: fixed; 
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: auto; 
        height: auto;   
        z-index: -1000;
        filter: blur(5px);
        background: url(https://prod-treaming-video-msn-com.akamaized.net/c633cd32-92ef-447f-876c-54c5c1a57484/d5a4b96f-01b4-4519-8470-62484e0b1b5b.mp4) no-repeat; 
    }

    .divisoria-titulo {
        padding-left: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(62,0,64,25);

    }

    .titulo-link {
        color: white;
        text-decoration: none;
        font-size: 40px;
        border-radius: 10px;
    }

    .titulo-link:hover {
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        transition: 0.2s linear;
        border-radius: 10px;

        color: #000;
    }

    .input-v {
        color: #fff;
        background: #000;

    }

    .wrapper{
        margin-top: 10rem;
        margin-left: 1.5rem;
        border-radius: 100px;

        width: 450px;
        background: #000;
        padding: 30px;
        box-shadow: 0px 0px 10px rgba(62,0,64,25);
        
    }
    .wrapper .input-url{
        height: 40px;
        width: 100%;
        position: relative;
    }
    .wrapper .input-url input{
        height: 100%;
        width: 100%;
        border: none;
        font-size: 17px;
        border-bottom: 2px solid #000;
    }
    .input-url input:focus ~ label,
    .input-url input:valid ~ label{
        transform: translateY(-25px);
        font-size: 15px;
        color: #7a00ff;
    }
    .wrapper .input-url label{
        position: absolute;
        bottom: 10px;
        left: 0;
        color: #fff;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    .input-url .underline{
        position: absolute;
        height: 2px;
        width: 100%;
        bottom: 0;
    }
    .input-url .underline:before{
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background: #7a00ff;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
    }
    .input-url input:focus ~ .underline:before,
    .input-url input:valid ~ .underline:before{
        transform: scaleX(1);
    }

    @keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
        }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
        }
    }

    .espaco-botao {
        display: block;
        padding-left: 9rem;
        padding-top: 1.5rem;
    }

    .glow-on-hover {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;

        text-align: center;
    }

    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }

    .glow-on-hover:active {
        color: #000
    }

    .glow-on-hover:active:after {
        background: transparent;
    }

    .glow-on-hover:hover:before {
        opacity: 1;
    }

    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }

    .dj-space-botoes{
        display: inline-block;
        margin-left: 10rem;
        margin-top: 30px;
    }

    .player {
        margin-left: 140px;
    }

    .botoes-de-midia{
        padding-left: 140px;
    }

    .botao-pause {
        padding: 25px;
    }

    .botao-1 {
        padding: 50px;
        margin-right: 15px;
        margin-bottom: 5px;


        border-radius: 5px;
        background: linear-gradient(45deg, #8a1253,#c51350);
        border: inherit;
    }

    .letra-botao1 {
        font-size: 45px;
    }

    .letra-botao2 {
        font-size: 45px;
    }

    .letra-botao3 {
        font-size: 45px;
    }

    .letra-botao4 {
        font-size: 40px;
    }

    .botao-1:hover {
        background: linear-gradient(45deg, #fda403, #e8751a);
        transition: 0.3s linear;
    }

    .botao-2 {
        padding: 50px;
        margin-right: 15px;
        margin-bottom: 5px;


        border-radius: 5px;
        background: linear-gradient(45deg, #00aaa0, #8ed2c9);
        border: inherit;
    }

    .botao-2:hover {
        background: linear-gradient(45deg, #d55b3e, #fcf4d9);
        transition: 0.3s linear;
    }

    .botao-3 {
        padding: 50px;
        margin-right: 15px;
        margin-bottom: 5px;

        border-radius: 5px;
        background: linear-gradient(45deg, #8f71ff, #ff5d9e);
        border: inherit;
    }

    .botao-3:hover {
        background: linear-gradient(45deg, #82acff, #8bffff);
        transition: 0.3s linear;
    }

    .botao-4 {
        padding: 50px;
        margin-right: 15px;
        margin-bottom: 5px;


        border-radius: 5px;
        background: linear-gradient(45deg, #7dd87d, #4c9173);
        border: inherit;
    }

    .botao-4:hover {
        background: linear-gradient(45deg, #5b446a, #906387);
        transition: 0.3s linear;
    }  
}

@media screen and (min-width:600px) and (max-width: 1024px) {
    .bg_video{
        position: fixed; 
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: auto; 
        height: auto;   
        z-index: -1000;
        filter: blur(5px);
        background: url(https://prod-treaming-video-msn-com.akamaized.net/c633cd32-92ef-447f-876c-54c5c1a57484/d5a4b96f-01b4-4519-8470-62484e0b1b5b.mp4) no-repeat; 
    }

    .divisoria-titulo {
        padding-left: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(62,0,64,25);

    }

    .titulo-link {
        color: white;
        text-decoration: none;
        font-size: 40px;
        border-radius: 10px;
    }

    .titulo-link:hover {
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        transition: 0.2s linear;
        border-radius: 10px;

        color: #000;
    }

    .input-v {
        color: #fff;
        background: #000;

    }

    .wrapper{
        margin-top: 10rem;
        margin-left: calc(22% + 1.5rem);
        border-radius: 100px;

        width: 450px;
        background: #000;
        padding: 30px;
        box-shadow: 0px 0px 10px rgba(62,0,64,25);
        
    }
    .wrapper .input-url{
        height: 40px;
        width: 100%;
        position: relative;
    }
    .wrapper .input-url input{
        height: 100%;
        width: 100%;
        border: none;
        font-size: 17px;
        border-bottom: 2px solid #000;
    }
    .input-url input:focus ~ label,
    .input-url input:valid ~ label{
        transform: translateY(-25px);
        font-size: 15px;
        color: #7a00ff;
    }
    .wrapper .input-url label{
        position: absolute;
        bottom: 10px;
        left: 0;
        color: #fff;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    .input-url .underline{
        position: absolute;
        height: 2px;
        width: 100%;
        bottom: 0;
    }
    .input-url .underline:before{
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background: #7a00ff;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
    }
    .input-url input:focus ~ .underline:before,
    .input-url input:valid ~ .underline:before{
        transform: scaleX(1);
    }

    @keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
        }
    100% {
        width: 300px;
        height: 300px;
        position: relative;
        opacity: 0;
        }
    }

    .espaco-botao {
        display: block;
        padding-left: calc(20% + 9rem);
        padding-top: 1.5rem;
    }

    .glow-on-hover {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;

        text-align: center;
    }

    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }

    .glow-on-hover:active {
        color: #000
    }

    .glow-on-hover:active:after {
        background: transparent;
    }

    .glow-on-hover:hover:before {
        opacity: 1;
    }

    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }

    .dj-space-botoes{
        display: inline-block;
        margin-left: calc(50% - 2rem);
        margin-top: 30px;
    }

    .botao-1 {
        padding: 50px;
        margin-right: 15px;
        margin-bottom: 5px;


        border-radius: 5px;
        background: linear-gradient(45deg, #8a1253,#c51350);
        border: inherit;
    }

    .letra-botao1 {
        font-size: 45px;
    }

    .letra-botao2 {
        font-size: 45px;
    }

    .letra-botao3 {
        font-size: 45px;
    }

    .letra-botao4 {
        font-size: 40px;
    }

    .botao-1:hover {
        background: linear-gradient(45deg, #fda403, #e8751a);
        transition: 0.3s linear;
    }

    .botao-2 {
        padding: 50px;
        margin-right: 15px;
        margin-bottom: 5px;


        border-radius: 5px;
        background: linear-gradient(45deg, #00aaa0, #8ed2c9);
        border: inherit;
    }

    .botao-2:hover {
        background: linear-gradient(45deg, #d55b3e, #fcf4d9);
        transition: 0.3s linear;
    }

    .botao-3 {
        padding: 50px;
        margin-right: 15px;
        margin-bottom: 5px;

        border-radius: 5px;
        background: linear-gradient(45deg, #8f71ff, #ff5d9e);
        border: inherit;
    }

    .botao-3:hover {
        background: linear-gradient(45deg, #82acff, #8bffff);
        transition: 0.3s linear;
    }

    .botao-4 {
        padding: 50px;
        margin-right: 15px;
        margin-bottom: 5px;


        border-radius: 5px;
        background: linear-gradient(45deg, #7dd87d, #4c9173);
        border: inherit;
    }

    .botao-4:hover {
        background: linear-gradient(45deg, #5b446a, #906387);
        transition: 0.3s linear;
    }  
}

/* adaptação feita pra zoom out */
@media screen and (min-width: 1600px) {
    .bg_video{
        position: fixed; 
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: auto; 
        height: auto;   
        z-index: -1000;
        filter: blur(5px);
        background: url(https://prod-treaming-video-msn-com.akamaized.net/c633cd32-92ef-447f-876c-54c5c1a57484/d5a4b96f-01b4-4519-8470-62484e0b1b5b.mp4) no-repeat; 
    }

    .divisoria-titulo {
        padding-left: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(62,0,64,25);

    }

    .titulo-link {
        color: white;
        text-decoration: none;
        font-size: 40px;
        border-radius: 10px;
    }

    .titulo-link:hover {
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        transition: 0.2s linear;
        border-radius: 10px;

        color: #000;
    }

    .input-v {
        color: #fff;
        background: #000;

    }

    .wrapper{
        margin-top: 10rem;
        margin-left: calc(45% + 1.5rem);
        border-radius: 100px;

        width: 450px;
        background: #000;
        padding: 30px;
        box-shadow: 0px 0px 10px rgba(62,0,64,25);
        
    }
    .wrapper .input-url{
        height: 40px;
        width: 100%;
        position: relative;
    }
    .wrapper .input-url input{
        height: 100%;
        width: 100%;
        border: none;
        font-size: 17px;
        border-bottom: 2px solid #000;
    }
    .input-url input:focus ~ label,
    .input-url input:valid ~ label{
        transform: translateY(-25px);
        font-size: 15px;
        color: #7a00ff;
    }
    .wrapper .input-url label{
        position: absolute;
        bottom: 10px;
        left: 0;
        color: #fff;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    .input-url .underline{
        position: absolute;
        height: 2px;
        width: 100%;
        bottom: 0;
    }
    .input-url .underline:before{
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background: #7a00ff;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
    }
    .input-url input:focus ~ .underline:before,
    .input-url input:valid ~ .underline:before{
        transform: scaleX(1);
    }

    @keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
        }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
        }
    }

    .espaco-botao {
        display: block;
        padding-left: calc(45% + 9rem);
        padding-top: 1.5rem;
    }

    .glow-on-hover {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;

        text-align: center;
    }

    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }

    .glow-on-hover:active {
        color: #000
    }

    .glow-on-hover:active:after {
        background: transparent;
    }

    .glow-on-hover:hover:before {
        opacity: 1;
    }

    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }

    @keyframes fade {
        0% { box-shadow: inset}
        100% { box-shadow: 0px 0px 25px rgba(255,255,255,25);}
    }

    .dj-space-botoes{
        display: inline-block;
        margin-left: calc(45% - 5rem);
        margin-top: 30px;
    }



    .botao-1 {
        padding: 50px;
        margin-right: 15px;
        margin-bottom: 5px;


        border-radius: 5px;
        background: linear-gradient(45deg, #8a1253,#c51350);
        border: inherit;
    }

    .letra-botao1 {
        font-size: 45px;
    }

    .letra-botao2 {
        font-size: 45px;
    }

    .letra-botao3 {
        font-size: 45px;
    }

    .letra-botao4 {
        font-size: 40px;
    }

    .botao-1:hover {
        background: linear-gradient(45deg, #fda403, #e8751a);
        transition: 0.3s linear;
    }

    .botao-2 {
        padding: 50px;
        margin-right: 15px;
        margin-bottom: 5px;


        border-radius: 5px;
        background: linear-gradient(45deg, #00aaa0, #8ed2c9);
        border: inherit;
    }

    .botao-2:hover {
        background: linear-gradient(45deg, #d55b3e, #fcf4d9);
        transition: 0.3s linear;
    }

    .botao-3 {
        padding: 50px;
        margin-right: 15px;
        margin-bottom: 5px;

        border-radius: 5px;
        background: linear-gradient(45deg, #8f71ff, #ff5d9e);
        border: inherit;
        transition: 1s linear;
    }

    .botao-3:hover {
        background: linear-gradient(45deg, #82acff, #8bffff);
        transition: 0.3s linear;
    }

    .botao-4 {
        padding: 50px;
        margin-right: 15px;
        margin-bottom: 5px;


        border-radius: 5px;
        background: linear-gradient(45deg, #7dd87d, #4c9173);
        border: inherit;
    }

    .botao-4:hover {
        background: linear-gradient(45deg, #5b446a, #906387);
        transition: 0.3s linear;
    }  
}
